.btn-general {

    background-color: #98f5e1 ;
    border: 3px solid black;
    border-radius: 8px;
    padding: 12px 20px;
    font-weight: bold;

}

.full-height {

    height: 100vh;
    display: flex;
    align-items: center;
}

body {

    background-color: #fbf8cc;
}

input.form-control {

    background-color: #fffff0;
    border: 3px solid black;
    border-radius: 8px;
    padding: 12px;

    
}

.rounded-circle {

    margin: 10px;
}

.list-group-item {

    background-color: #fde4cf;
    border: 3px solid black;
    border-radius: 8px;
}

.black-icon {

    color: black;
    font-size: 24px;
}

.icon-button {
    border: none;
}
